// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Caveat&family=Maven+Pro:wght@400;700&display=swap');
/*
FOR REFERENCE:
font-family: 'Architects Daughter', cursive;
font-family: 'Caveat', cursive;
font-family: 'Maven Pro', sans-serif;
font-family: 'Indie Flower', cursive;
*/
$cursive: 'Architects Daughter', cursive;

.body {
  background-color: color($colors, darker);
}

p {
  font-family: 'Maven Pro', sans-serif;
}

b {
  font-family: 'Maven Pro', serif;
  font-style: normal;
  font-weight: 700;
}

button {
  min-width: 80px;
}

@mixin anchor {
  font-family: $cursive;
  text-decoration: none !important;
  color: orangered !important;
  text-shadow: 2px 2px 5px greenyellow;
  //cursor: pointer;
}

.content_anchor {
  @include anchor();
  &:hover {
    color: color($colors, banner) !important;
    text-shadow: none;
  }
}

.gallery-card-text {
  @include anchor()
}

.card_content {
  border-radius: 5px;
  h1 {
    font-family: $cursive;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
  }
}

.reviews {
  h2 {
    font-family: $cursive;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  width: 100%
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.centered {
  p {
    text-align: center;
  }
}

.intro_text {
  font-family: $cursive;
  font-size: 18px !important;
  font-weight: bold;
}

.text-effect {
  color: color($colors, banner);
  text-shadow: 2px 2px 5px #0e7880;
}

.image_container {
  position: relative;
  text-align: center;
  img {
    height: 70%;
    width: 100%;
  }
}

.text-block {
  font-family: 'Caveat', cursive;
  position: absolute;
  bottom: 5%;
  margin-left: 2%;
  background-color: color($colors, message-card);
  padding: 20px;
  opacity: 2;
  h3 {
    color: black;
  }
  p {
    color: #ffffff;
    font-size: larger;
    font-family: 'Architects Daughter', cursive;
  }
}

.gallery-images {
  height: 300px !important;
}

ion-card {
  ion-list {
    ion-input, ion-select {
      border-bottom: 1px solid #d6d6d6;
    }
  }
}

.module {
  overflow: hidden;
}

.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

ion-card {
  box-shadow: 6px 6px 17px -4px #000000 !important;
}

ion-textarea{
  border: 0.55px solid #c8c7cc;
}

.logoutButton {
  color: white;
  font-size: 15px;
  float: right;
}

@media only screen and (max-width: 450px) {
  .text-block{
    margin: 2%;
    padding: 0;
  }
}
